<!doctype html>
<html lang="es">
    <body>
      
        <input id="videoinput" type="file" onchange="UploadVideo(this)" >
        <script>
            
            const USER_NAME = "perro_mueco_loco2"
            const data_out_example = {
                "username":USER_NAME,
                "zones": [
                    {
                        "name": "north",
                        "poly": [
                            {
                                "x": 717,
                                "y": 1001 
                            },
                            {
                                "x": 670,
                                "y": 496 
                            },
                            {
                                "x": 1576,
                                "y": 438 
                            },
                            {
                                "x": 1924,
                                "y": 875 
                            }
                        ] 
                    },       
                    
                    {
                        "name": "south",
                        "poly": [
                            {
                                "x": 681,
                                "y": 23 
                            },
                            {
                                "x": 684,
                                "y": 222 
                            },
                            {
                                "x": 1362,
                                "y": 176 
                            },
                            {
                                "x": 1073,
                                "y": 11 
                            }
                        ] 
                    },       
                    
                    {
                        "name": "west",
                        "poly": [
                            {
                                "x": 1407,
                                "y": 223 
                            },
                            {
                                "x": 1751,
                                "y": 555 
                            },
                            {
                                "x": 1905,
                                "y": 505 
                            },
                            {
                                "x": 1893,
                                "y": 246 
                            }
                        ] 
                    },      
                    
                    {
                        "name": "east",
                        "poly": [
                            {
                                "x": 14,
                                "y": 227 
                            },
                            {
                                "x": 26,
                                "y": 688 
                            },
                            {
                                "x": 614,
                                "y": 565 
                            },
                            {
                                "x": 602,
                                "y": 160 
                            }
                        ] 
                    },      
                    
                    {
                        "name": "east",
                        "poly": [
                            {
                                "x": 598,
                                "y": 244 
                            },
                            {
                                "x": 596,
                                "y": 521 
                            },
                            {
                                "x": 1600,
                                "y": 460 
                            },
                            {
                                "x": 1337,
                                "y": 180 
                            }
                        ] 
                    }
                ]
            }
            // LOGIN!
               ///////////////////
            const HOST_URL = 'http://207.246.118.54/'
            const WS_HOST_URL = 'ws://207.246.118.54/'
            const SOCKET_URL = WS_HOST_URL+'ws/chat/' + USER_NAME + '/'
            
            var ROOM_SOCKET = null;
            
            let VIDEO_STATUS = "NO_VIDEO"

            let UPLOADING_FILE = false;
            const PROCESSING = "Processing"
            const FINISHED = "Finished"
            var VIDEO_PK = null
            var QueryHeaders = new Headers();

            //LOGING; GETTING TOKEN
            var myToken = null
            var LogginHeaders = new Headers();
            LogginHeaders.append("Content-Type", "application/json");
            
            var raw = JSON.stringify({
            "username": "pc",
            "password": "admin"
            });
            
            var requestOptions = {
                method: 'POST',
                headers: LogginHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch(HOST_URL+"login", requestOptions)
            .then(response => {
                if(response.ok)
                    response.text().then(result => {
                        
                        document.getElementById("videoinput").disabled = false
                        // WHEN LOGIN THEN TAKE TOKEN AND APPEND TO HEADERS!
                        result = JSON.parse(result)
                        console.log(result,"LOGGED!")
                        myToken = "token "+result.token
                        QueryHeaders = new Headers();
                        QueryHeaders.append("Authorization", myToken);
                        setTimeout(askVideoStatus,100)
                    })
                else{
                    document.getElementById("videoinput").disabled = true
                    response.text().then(error => {throw new Error(error)})   
                }
                    
                
            })
            .catch(error => console.log('error', error));
         
            async function UploadVideo(ev){
                if (myToken == null)
                    return
                let photo = ev.files[0];      
                let formdata = new FormData();
                formdata.append("myfile", ev.files[0]);

                formdata.append("json", JSON.stringify( data_out_example));
               
                var requestOptions = {
                    method: 'POST',                   
                    headers: QueryHeaders,
                    body: formdata,
                    redirect: 'follow'
                };

                var request = new XMLHttpRequest();
                request.open('POST', HOST_URL); 
                request.setRequestHeader("Authorization", myToken)
                
                // upload progress event
                request.upload.addEventListener('progress', function(e) {
                    // upload progress as percentage
                    let percent_completed = (e.loaded / e.total)*100;
                    console.log("uploadidng video: "+percent_completed+"%");
                });

                // request finished event
                request.addEventListener('load', function(e) {
                    console.log(request.status);
                    console.log(request.response);
                    UPLOADING_FILE = false
                }); 

                // send POST request to server
                request.send(formdata);
                UPLOADING_FILE = true

            }
            
            function EvalResponse(response){
                
                
                if(response.ok)
                    response.json().then(result => {                        
                        console.log(result)
                    })
                else
                    response.text().then(error => {throw new Error(error)})
            }
            function ConnectSocket(){              
                
                ROOM_SOCKET = new WebSocket(SOCKET_URL);
                
                // Conectado
                ROOM_SOCKET.addEventListener('open', () => {
                    console.log('Conectado');
                });
                // Desconectado
                ROOM_SOCKET.addEventListener('close', () => {
                    console.log('Desconectado');
                });

                // Recibir mensaje
                ROOM_SOCKET.addEventListener('message', (event) => {
                    let data = JSON.parse(event.data)
                    if(data.type == "proccess"){
                        console.log(data.message)
                    }else if(data.type == "end"){
                        ROOM_SOCKET.close()
                    }
                    console.log(data)
                    
                });

            }
            
            function askVideoStatus(){
                let formdata = new FormData();
                formdata.append("username", USER_NAME);

                let requestOptions = {
                method: 'POST',            
                headers: QueryHeaders,
                body: formdata,
                redirect: 'follow'
                };

                fetch(HOST_URL+"estado", requestOptions)
                .then(response => response.text())
                .then(result => {
                    result=JSON.parse(result)
                    if(result.status==PROCESSING)
                        ConnectSocket()
                    else 
                        setTimeout(askVideoStatus,1000)
                    
                    if(!UPLOADING_FILE)
                        console.log(result)                
                    
                })
                .catch(error => console.log('error', error));
            }
            
        </script>
    </body>
</html>